@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');
/* font-family: 'Raleway', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

/* font-family: 'Open Sans', sans-serif;  */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(217, 28%, 15%);
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width:300px;
  color:white;
}

.view {
  width:80%;
  margin:auto;
}

.home__nav {
  width: 80%;
  margin: auto;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 70px;
  align-items: center;
}


.nav__svg {
  background: hsl(217, 28%, 15%);
}

.nav__list{

}

.nav__elem{

}

.intro {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro__main__text {
  color:white;
  font-weight:700;
  font-size: 40px;
  width: 65%;
  text-align: center;
  margin-top: 40px;
}

.intro__text {
  color:white;
  font-size: 20px;
  width: 45%;
  text-align: center;
  margin-top: 30px;
  line-height: 1.5;
}

.intro__button {
  color: white;
  background: linear-gradient(hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  padding: 20px 100px;
  border-radius: 30px;
  border: none;
  margin-top: 30px;
  font-size: 18px;
}

.maininfo {
  padding-bottom: 8rem;
  box-sizing: border-box;
  margin:0;
}

.all__main__info {
  column-count: 2;
  text-align: center;
  line-height: 1.5;
  word-break: break-word;
  color: white;
  display:block;
  padding-top: 10rem;
}

.all__access {
  text-align: -moz-center;
  width: 60%;
  margin: auto;
}

.all__security {
  text-align: -moz-center;
  width: 60%;
  margin: auto;
}

.all__collaboration {
  text-align: -moz-center;
  width: 60%;
  margin: auto;
}

.all__store {
  width: 60%;
  margin: auto;
  text-align: -moz-center;
}