@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');
/* font-family: 'Raleway', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

/* font-family: 'Open Sans', sans-serif;  */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(217, 28%, 15%);
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.nav__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width:300px;
  color:white;
}

.view {
  width:80%;
  margin:auto;
}

.home__nav {
  width: 80%;
  margin: auto;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 70px;
  align-items: center;
}


.nav__svg {
  background: hsl(217, 28%, 15%);
}

.nav__list{

}

.nav__elem{

}

.intro {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro__main__text {
  color:white;
  font-weight:700;
  font-size: 40px;
  width: 65%;
  text-align: center;
  margin-top: 40px;
}

.intro__text {
  color:white;
  font-size: 20px;
  width: 45%;
  text-align: center;
  margin-top: 30px;
  line-height: 1.5;
  z-index: 2;
}

.intro__button {
  color: white;
  background: linear-gradient(hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  padding: 20px 100px;
  border-radius: 30px;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  z-index: 2;
}

.main__info {
  margin-top: -180px;

}

.main__list{
  list-style-type: none;
  color: white;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 10rem;
  line-height: 1.5;
  justify-content: center;
  

}

.list__items {
  width: 500px;
  padding-bottom: 100px;
}

.access__text {
  width: 70%;
  margin: auto;

}

.security__text {
  width: 80%;
  margin: auto;
}

.collaboration__text {
  width: 80%;
  margin: auto;
}

.store__text {
  width: 75%;
  margin: auto;
}

.main__pic {
  margin:20px 0;
}

.curvy__pic {
  position: relative;
  z-index: 1;
  margin-top: -240px;
}

.main__info {
 
}

.stayproductive__pic {
  margin-top: 40px;
  margin-left: 80px;
}

.stay__productive__info {
  display:flex;
  color:white;
}

.stayproductive__text {
  font-weight: 700;
  font-size: 40px;
  width: 50%;
  line-height: 1.2;
}

.all__stay__productive {
  margin-top: 170px;
  position: relative;
  margin: auto;
  margin-right: -100px;
  line-height: 1.5;
}

.stayproductive__tips__first {
  width: 65%;
  padding-top: 20px;
}

.stayproductive__tips__second {
  width: 65%;
  padding-top: 20px;
}

.stayproductive__link {
  color: hsl(176, 68%, 64%);
  display: block;
  text-decoration: none;
}

.stayproductive__link::after{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  width:21%;
  height: 1px;
  background-color:hsl(176, 68%, 64%);
}